@{
    ViewBag.CurrentMenu = "Menu";
}
<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">功能管理</h3>
            </div>
            <div class="box-body">
                <div id="treeDiv" class="portlet-body">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">功能列表</h3>
                <div class="pull-right box-tools">
                    <button id="btnAddRoot" class="btn btn-primary" type="button" data-original-title="新增顶级功能" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-plus-square"></i>&nbsp;&nbsp;新增顶级
                    </button>
                    <button id="btnAdd" title="" class="btn btn-primary" type="button" data-original-title="新增功能" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;新增
                    </button>
                    <button id="btnDelete" title="" class="btn btn-danger" type="button" data-original-title="删除功能" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-times"></i>&nbsp;&nbsp;删除
                    </button>
                    <button id="btnLoadRoot" title="" class="btn btn-success" type="button" data-original-title="加载顶级功能" data-toggle="tooltip" data-widget="">
                        <i class="fa fa-list"></i>&nbsp;&nbsp;加载顶级
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample_2_info">
                        <thead>
                            <tr role="row">
                                <th class="table-checkbox" style="width:40px;text-align:center;"><input id="checkAll" class="group-checkable" type="checkbox"></th>
                                <th tabindex="0" aria-label="">
                                    功能名称
                                </th>
                                <th tabindex="0" aria-label="">
                                    功能编码
                                </th>
                                <th tabindex="0" aria-label="">
                                    地址
                                </th>
                                <th tabindex="0" aria-label="">
                                    类型
                                </th>
                                <th tabindex="0" aria-label="">
                                    功能描述
                                </th>
                                <th tabindex="0" style="width: 230px;" aria-label="">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                    <div class="paging-toolbar">
                        <ul id="grid_paging_part"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Edit")
@section scripts{
    <script src="~/Views/Menu/Index.js"></script>
}
